.main_container{
    background-color: rgba(127, 143, 166,1.0);
    display: grid;
    place-items: center;
    width: 73vw;
    margin-top: 44px;
    margin-left: 59px;
    height: 60vh;
    box-shadow: 0px 0px 10px;
}
.expense_date,
.category_expense,
.amount_expense{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
input[type="text"],select,input[type="number"]{
    width: 210px;
    height: 33px;
    padding: 2px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #ccc;
}
select{
    width: 210px;
    margin-left: 26px;
}
input[type="submit"]{
    height: 33px;
    width: 210px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #ccc;
    background-color: green;
    color: white;
}
.add_category{
    font-size: 25px;
    margin-left: 2px;
}