
.parent_category{
  margin-top: 8rem;
}

.container_cate{
  background-color: rgba(127, 143, 166,1.0);
  box-shadow: 0px 0px 10px rgb(0 0 0 / 80%);
  border-radius: 5px;
  width: 100%;
  max-width: 320px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.category_submit{
  height: 33px;
  width: 210px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: green;
  color: white;
  /* margin-bottom: 267px; */
  margin: 89px 1px 32px 0px;
}
hr{
    width:200px;
    margin: 85px 0px 0px 0px;
}
.go_back{
  color: #ffffff;
  font-size: 25px;
  margin: 8px 27px 6px 4px;
}
  .td_cat{
      background-color: #f2f2f2;
  }
  .edit_cat{
    color: green;
  }
  .delete_cat{
      color: red;
      margin-left: 19px;
  }
  .container_cate input[type="text"]{
    width: 210px;
    height: 33px;
    padding: 2px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin: 3px 0px 4px 0px;
  }
    /* table css */
/* .table_category{
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  top: 410px;
}
.table_category table{
  background-color: #ffff;
  width: 100%;
} */

/* @media all and (max-width:375px){
  .table_category{
    background-color: #ffffff;
    width: 20rem;
    position: absolute;
    top: 410px;
    border-radius: 5px;
  }
} */
/* @media all and (max-width:2000px){
  .table_category{
    background-color: #ffffff;
    width: 30rem;
    position: absolute;
    top: 540px;
    border-radius: 5px;
  }
} */
/* @media (max-width:400px){
  .container_cate{
    background-color: rgba(127, 143, 166,1.0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    width: 20rem;
    margin: 0px 24px 0px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
} */