.container_cate{
    background-color: rgba(127, 143, 166,1.0);
    display: grid;
    place-items: center;
    width: 73vw;
    margin-top: 27px;
    margin-left: 59px;
    height: 83vh;
    box-shadow: 0px 0px 10px;
    position: relative;
}
.category_submit{
    height: 33px;
    width: 210px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #ccc;
    background-color: green;
    color: white;
    margin-bottom: 267px;
}
hr{
    width:200px;
}
.go_back{
    color: #ffffff;
    font-size: 22px;
}
  .td_cat{
      background-color: #f2f2f2;
  }
  .edit_cat{
    color: green;
  }
  .delete_cat{
      color: red;
      margin-left: 19px;
  }
  /* .table_cate{
    position: fixed;
    bottom: 17px;
    left: 109px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 49%;
    top: 412px;
    overflow: scroll;
  } */
  .table_cate td, .table_cate th {
    border: 1px solid #ddd;
    padding: 1px;
  }
  
  .table_cate tr:nth-child(even){background-color: #f2f2f2;}
  
  .table_cate tr:hover {background-color: #ddd;}
  
.table_cate th {
  padding-top: 10px;
    padding-bottom: -4px;
    padding-right: 50px;
    text-align: center;
    background-color: rgba(127, 143, 166,1.0);
    color: white;
  }
  .table_category{
    position: fixed;
    bottom: 98px;
    left: 97px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 61%;
    right: -43px;
    top: 401px;
    overflow: scroll;
  }